@using AshesMapBib.Models.GameRelatedModels
@using static FrontUI.FrontPages.AuthPages.UserSideBar

@if (Node.Children.Any())
{
    <MudNavGroup Title="@Node.Name" ExpandedChanged="IsExpandedChanged">
        @if (IsExpanded)
        {
            @foreach (var child in Node.Children.OrderBy(c => c.Name))
            {
                <NavNodeView Node="child" OnItemSelected="OnItemSelected" >
                    
                </NavNodeView>
            }
        }
    </MudNavGroup>
}
else
{
    <MudNavLink OnClick="@(() => OnItemSelected.InvokeAsync(Node.Id))">
        <div style="display:flex">
            @Node.Name
            <MudRating SelectedValue="0" MaxValue="1" FullIcon="@Icons.Material.Filled.Visibility" EmptyIcon="@Icons.Material.Filled.VisibilityOff" />
        </div>
        
    </MudNavLink>
}

@code {
    [Parameter] public ItemRootTree Node { get; set; } = default!;
    [Parameter] public EventCallback<string> OnItemSelected { get; set; }

    public bool IsExpanded { get; set; } = false;

    private Task IsExpandedChanged()
    {
        IsExpanded = !IsExpanded;
        return Task.CompletedTask;
    }
}
